<html>

  <head>
    <title>
      Dashboard
    </title>
    <meta charset='utf-8' />
    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/site.webmanifest' />
    <link
      rel='mask-icon'
      href='/fav/safari-pinned-tab.svg'
      color='#5bbad5'
    />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />
    <link rel='stylesheet' href='css/dashboard.css' />
    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />
  </head>
  <body>
    <div class='page page--dashboard'>
      <aside
        class='page__aside aside vertical vertical--big'
      >
        <div class='aside__logo text'>Sidebar</div>
        <nav class='vertical'>
          <a
            href='#'
            class='nav-button nav-button--active click'
          >
            <span
              class='icon nav-button__icon'
              style="background-image: url('/svg/nav/home.svg')"
            ></span>
            <span class='text text--light'>Home</span>
          </a>
          <a href='#' class='nav-button click'>
            <span
              class='icon nav-button__icon'
              style="background-image: url('/svg/nav/orders.svg')"
            ></span>
            <span class='text text--light'>Orders</span>
          </a>
          <a href='#' class='nav-button click'>
            <span
              class='icon nav-button__icon'
              style="background-image: url('/svg/nav/products.svg')"
            ></span>
            <span class='text text--light'>Products</span>
          </a>
          <div class='relative click'>
            <div class='field field--select relative'>
              <span
                class='text text--light'
              >Choose...</span>
              <span
                class='icon select__icon'
                style="background-image: url('/svg/arrow-down.svg')"
              ></span>
            </div>
            <select
              class='field__select'
              name='Country'
              id=''
            >
              <option value='cat'>cat</option>
              <option value='dog'>dog</option>
              <option value='alligator'>alligator</option>
            </select>
          </div>
        </nav>
      </aside>
      <header class='header'>
        <div class='layout header-content text--small'>
          <div class='header__search relative'>
            <input
              type='text'
              class='field field--header text'
              placeholder='Search'
            />
            <span
              class='icon icon__header-search'
              style="background-image: url('/svg/header/search.svg');"
            ></span>
            <span
              class='icon icon--button icon__header-settings icon-color--darkblue click'
              style="background-image: url('/svg/header/settings.svg');"
            ></span>
          </div>
          <div class='header__icon-list'>

            <span
              class='icon icon--button header__icon icon-color--yellow click'
              style="background-image: url('/svg/header/wifi.svg')"
            ></span>

            <span
              class='icon icon--button header__icon icon-color--blue click'
              style="background-image: url('/svg/header/translate.svg')"
            ></span>

            <span
              class='icon icon--button header__icon icon-color--yellow click'
              style="background-image: url('/svg/header/ring.svg')"
            ></span>

          </div>
        </div>
      </header>
      <main class='main'>
        <div class='layout'>
          <section class='box analytic__block'>
            <div
              class='analytic analytic--double analytic--purple'
            >
              <span
                class='icon icon--button icon__analytic icon-color--purple-dark'
                style="background-image: url('/svg/analytic/money.svg');"
              ></span>
              <div
                class='analytic__content vertical relative'
              >
                <div
                  class='analytic__title text text--light text--bold'
                >$500.00</div>
                <div class='analytic__info text'>Total
                  earning</div>
                <span
                  class='icon icon__arrow icon-color--purple-light'
                  style="background-image: url('/svg/analytic/arLink.svg');"
                ></span>
              </div>

            </div>
            <div
              class='analytic analytic--double analytic--blue'
            >
              <span
                class='icon icon--button icon__analytic icon-color--darkblue'
                style="background-image: url('/svg/analytic/order.svg');"
              ></span>
              <div class='analytic__content vertical'>
                <div
                  class='analytic__title text text--light text--bold'
                >$961</div>
                <div class='analytic__info text'>Total Order</div>
              </div>
            </div>
            <div
              class='analytic analytic--blue analytic--small'
            >
              <span
                class='icon icon--button icon__analytic icon-color--darkblue'
                style="background-image: url('/svg/analytic/money.svg');"
              ></span>
              <div
                class='analytic__content vertical vertical--small'
              >
                <div
                  class='analytic__title--small text text--light text--bold'
                >$203 k</div>
                <div class='analytic__info text'>Total
                  Income</div>

              </div>
            </div>
            <div
              class='analytic analytic--light analytic--small'
            >
              <span
                class='icon icon--button icon__analytic icon-color--yellow'
                style="background-image: url('/svg/analytic/basket.svg');"
              ></span>
              <div
                class='analytic__content vertical vertical--small'
              >
                <div
                  class='analytic__title--small text text--bold'
                >$203 k</div>
                <div
                  class='analytic__info text text--gray'
                >Total Income</div>

              </div>
            </div>
          </section>

        </div>
        <div class='layout'>
          <section class='checkout'>
            <div class='box'>
              <div class='text text--heading'>Purchase list</div>
              <hr class='hr' />
              <div class='purchase-block'>
                <div class='purchase-content__item'>
                  <div class='text'></div>
                  <div class='text text--line'>May 11, 2023,
                    14:21</div>
                </div>
                <div class='purchase-content__item'>
                  <div class='text'>AirOn ProCam</div>
                  <div class='text'>7/8 USB Type-C</div>
                </div>
                <div class='purchase-content__item'>
                  <div class='text'>132.32 EUR</div>
                  <div class='text text--warning'>Not paid</div>
                </div>
                <div class='purchase-content__item'>
                  <div class='text'>Customer</div>
                  <div class='text'>robin@com.de</div>
                </div>
              </div>
              <hr class='hr' />
              <div class='purchase-block'>
                <div class='purchase-content__item'>
                  <div class='text'>ID437661</div>
                  <div class='text text--line'>May 11, 2023,
                    14:21</div>
                </div>
                <div class='purchase-content__item'>
                  <div class='text'>PHILIPS Essential</div>
                  <div class='text'>HD9200/90</div>
                </div>
                <div class='purchase-content__item'>
                  <div class='text'>543 USD</div>
                  <div class='text text--success'>Pay by
                    Stripe</div>
                </div>
                <div class='purchase-content__item'>
                  <div class='text'>Customer</div>
                  <div class='text'>dima@com.ua</div>
                </div>
              </div>
            </div>
            <div class='payment box'>
              <div class='text text--heading'>Payment</div>
              <hr class='hr' />
              <div class='vertical vertical--big'>

                <form class='radio-payments'>
                  <div class='radio-payments__item'>
                    <input
                      type='radio'
                      id='card'
                      name='card'
                      value='Credit card'
                    />
                    <label class='text' for='card'>Credit
                      card</label><br />
                  </div>
                  <div class='radio-payments__item'>
                    <input
                      type='radio'
                      id='card'
                      name='card'
                      value='Credit card'
                    />
                    <label class='text' for='card'>Debit
                      card</label><br />
                  </div>
                  <div class='radio-payments__item'>
                    <input
                      type='radio'
                      id='card'
                      name='card'
                      value='Credit card'
                    />
                    <label
                      class='text'
                      for='card'
                    >PayPal</label><br />
                  </div>

                </form>

                <div class='data-block'>
                  <div class='vertical'>
                    <label class='text' for='name'>Name on
                      card</label>
                    <input
                      type='text'
                      name='name'
                      class='field field__input text'
                    />
                  </div>
                  <div class='vertical'>
                    <label class='text' for='name'>Credit
                      card number</label>
                    <input
                      type='text'
                      name='number'
                      class='field field__input text'
                    />
                  </div>
                  <div class='vertical'>
                    <label
                      class='text'
                      for='expiration'
                    >Expiration</label>
                    <input
                      type='text'
                      name='expiration'
                      class='field field__input text'
                    />
                  </div>
                  <div class='vertical'>
                    <label
                      class='text'
                      for='cvv'
                    >CVV</label>
                    <input
                      type='text'
                      name='cvv'
                      class='field field__input text'
                    />
                  </div>
                </div>
              </div>

              <hr class='hr' />
              <div class='data-block'>
                <div class='relative vertical'>
                  <label
                    class='text'
                    for='Country'
                  >Country</label>
                  <div class='field field--select relative'>
                    <span class='text'>Choose...</span>
                    <span
                      class='icon select__icon'
                      style="background-image: url('/svg/arrow-down.svg')"
                    ></span>
                  </div>
                  <select
                    class='field__select'
                    name='Country'
                    id=''
                  >
                    <option value='ua'>Ukraine</option>
                    <option value='pl'>Poland</option>
                    <option value='uk'>United Kingdom</option>

                  </select>
                </div>
                <div class='relative vertical'>
                  <label
                    class='text'
                    for='State'
                  >State</label>
                  <div
                    class='field field--select relative click'
                  >
                    <span class='text'>Choose...</span>
                    <span
                      class='icon select__icon'
                      style="background-image: url('/svg/arrow-down.svg')"
                    ></span>
                  </div>
                  <select
                    class='field__select'
                    name='State'
                    id=''
                  >
                    <option value='kyiv'>Kyiv</option>
                    <option value='ch'>Cherkassy</option>
                    <option value='lv'>Lviv</option>

                  </select>
                </div>
              </div>
              <hr class='hr' />
              <button
                type='submit'
                class='button text text--light click'
              >Continue to checkout</button>
            </div>
          </section>
        </div>
      </main>

    </div>
  </body>
</html>