:root {
  font-family: 'Roboto', sans-serif;
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;
  --size-d: 16px;
  --size-s: 14px;
  --size-l: 20px;
  --color-border: #DEE2E6;
  --color-primary: rgb(46, 46, 255);
  --color-white: #fff;
  --border-radius: 12px;
  --color-title:  #5A5A5A;
  --color-text: #343A40;
  --weight-title: 500;
  --weight-text: 400;
  --page-width: 960px;
  scroll-behavior: smooth;



  }
  /* ========================== */
  .page {
    background-color: var(--color-white);
    padding: 0 15px;
    display: flex;
    justify-content: center;
  }
  .page_content {
  max-width: var(--page-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;

  /* padding-top: 74px; */
  }
  /* =============================== */
  .header {
  padding: var(--space-l) 0;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;

  position: sticky;
  max-width: var(--page-width);
  width: 100%;
  top: 0;
  /* left: calc(50% - (var(--page-width) / 2)); */
  background-color: var(--color-white);
  z-index: 1;
  }
  .logo {
    font-size: 17px;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 24px;
    height: 24px;
    border-radius: calc(var(--border-radius) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav {
    display: flex;
  }
  
  .nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    text-decoration: none;
    line-height: 100%;

  }
  .nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary);
  }
  .nav_inline {
    gap: var(--space-l);
  }
  .nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
  }
 
   
  .footer {
    padding: var(--space-l) 0;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
  }
  .footer_copyright {
    font-size: var(--size-s);
    font-weight: var(--weight-text);
    color: var(--color-text);
    display: block;
    margin-top: var(--space-l);
  }
  .footer_title {
    color: var(--color-title);
    font-size: var(--size-l);
    font-weight: var(--weight-title);
    display: block;
    margin-bottom: var(--space-l);
  }

  .hero {
    display: flex;
    align-items: center;
    gap: var(--space-b);
    padding: var(--space-b);
    border-bottom: 1px solid var(--color-border);
    
  }
  .hero_image {
    width: 500px;
    height: 500px;
    border-radius: var(--border-radius);
    
    
  }
  .hero_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-l);
  }
  .hero_title {
    color: var(--color-title);
    font-weight: var(--weight-title);
    font-size: 50px;
    line-height: 1.2;

  }
  .hero_text {
  font-size: var(--size-l);
  line-height: 1.7;
  color: var(--color-text);
  font-weight: var(--weight-text);
  }
  .blog {
    display: flex;
    gap: var(--space-b);
    padding: var(--space-b);
    border-bottom: 1px solid var(--color-border);

  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--space-l);
  }
  .card_image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  .card_title {
    font-size: 32px;
    font-weight: var(--weight-title);
    color: var(--color-title);
  }
  .card_text {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  line-height: 150%;
  color: var(--color-text);
  
  }
  .button {
    display: inline-block;
    padding: var(--space-m) var(--space-xm);
    text-decoration: none;
    border-radius: var(--border-radius);
    
  }
  .card_button {
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: var(--size-d);
  }
  .button:hover {
    opacity: 0.7;
  }
  .form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: var(--space-l);
    border-radius: var(--border-radius);
  }
  .form_content {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
  }
  .form_title {
    color: var(--color-white);
    font-weight: var(--weight-text);
    font-size: 27px;
    
  }
  .form_info {
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    color: var(--color-white);
  }
  .form_button {
    color: var(--color-text);
    background-color: var(--color-white);
    font-size: var(--size-l);
    width: 100%;
    max-width: 160px;
  }
  .hero_slider {
    position: relative;
  }
  .hero_slider-icon {
    background-color: var(--color-primary);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    color: var(--color-white);
    position: absolute;
    top:calc(50% - 15px);
  }
  .hero_slider-right {
    right: var(--space-l);
  }
  .hero_slider-left {
    left: var(--space-l);
  }
  .hero_slider-icon:hover {
    opacity: 0.5;
    cursor: pointer;
  }
  .modal {
    position: fixed;
    padding: 12px;
    bottom: 24px;
    left: calc(50% - 150px);
    /* height: 80px; */
    width: 600px;
    background-color: var(--color-text);
    color: white;
    z-index: 2;
    
    border-radius: var(--border-radius);
    line-height: 150%;
  }
  .modal_image {
    height: 50px;
    width: 300px;
    float: left;
    margin-top: var(--space-m);
    margin-right: var(--space-m);
    object-fit: cover;
    object-position: center center;
  }
  .modal_text {
    clear:left;
    user-select: none;
  }
  .input {
    caret-color:var(--color-primary);
    border: 1px solid var(--color-text);
  }